/* idump-sidebar-widget */
.idump-sidebar-widget img{
margin:0 5px 5px 0;
float:left;
padding:2px 2px 2px 2px;
background-color:#F8F8F8;
}
.idump-sidebar-widget a:hover img{
background-color:#00ADEE;
}
.error{
color:red;
text-decoration:none;
}
.error:hover{
color:red;
text-decoration:underline;
}